
# robustez de rede (evita "context canceled" em ambiente CI)
fetch-retries=5
fetch-timeout=600000
fetch-retry-maxtimeout=120000

# menos ruído/mais rápido no CI
fund=false
audit=false
progress=false
